<ng-container *ngFor="let g of grid; let i = index">
  <div class="container">
    <ng-container *ngFor="let c of g; let j = index">
      <div style="display: inline-block;border: 1px solid grey;">
        <button class="btn btn-primary m-2" [ngClass]="{'btn-warning': c.checked}" (click)="selectChunk(i, j)">{{c.label}}</button>
        <!-- <span>{{"x = " + i}}{{"y = " + j}}</span> -->
      </div>
    </ng-container>
  </div>
</ng-container>

<button (click)="selectMario()">Mario</button>
<button (click)="selectPrincess()">Princess</button>
<button (click)="clearAll()">ClearAll</button>
<button (click)="start()">Start</button>